.idea
.project
.svn
*.iml
target
.settings
.classpath
lib
*/lib
*/source
*/target
**/*.jar
.DS_Store
**/.cache-*
**/mvnw
**/*.cmd
**/.mvn

**/node_modules/
**/dist/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/test/unit/coverage/
**/test/e2e/reports/
**/selenium-debug.log

# Editor directories and files
**/.vscode
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/.idea