<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rpc-server="http://www.appcnd.com/schema/rpc-server"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.appcnd.com/schema/rpc-server
       http://www.appcnd.com/schema/rpc-server.xsd">

    <!-- 扫描RpcService -->
    <context:component-scan base-package="com.appcnd.rpc.governance.sample.server"/>

    <!--
    host：服务绑定ip，默认InetAddress.getLocalHost()
    port：服务端口
    zkAddress：zookeeper集群地址
    zkConnectionTimeout：zookeeper 连接超时时间
    zkSessionTimeout：zookeeper session超时时间
    -->
    <rpc-server:server id="server" port="9091"
                       zkAddress="127.0.0.1:2181" zkConnectionTimeout="5000"
                       zkSessionTimeout="5000"/>
</beans>